doctype html

html(lang=ko)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title dirone
		link(rel="stylesheet", href="/public/css/init.css")
		link(rel="stylesheet", href="/public/css/app.css")
		script(type="text/javascript" src="/socket.io/socket.io.js")
		script(type="text/javascript" src="/public/js/app.js")
	body
		header tcp
			.button-list
				button#startBtn start
