doctype html

html(lang=ko)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title dirone
		link(rel="stylesheet", href="/public/css/init.css")
		link(rel="stylesheet", href="/public/css/app.css")
		script(type="text/javascript" src="/socket.io/socket.io.js")
		//- script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e07ae2810ee3eb7223410dc65039ee9")
		script(type="text/javascript" src="/public/js/app.js")
	body
		header tcp
		.container
			.sidebar
				ul.status-items
					li 드론명
						span#status_name.value dirone1
					li 속력
						span.value m/s
						span#status_speed.value 15
					li x-기울기
						span.value º
						span#status_rotateX.value 1
					li y-기울기
						span.value º
						span#status_rotateY.value 0.5
					li z-기울기
						span.value º
						span#status_rotateZ.value 0.3
					li 경도
						span.value º
						span#status_gpsX.value 35.9084
					li 위도
						span.value º
						span#status_gpsY.value 128.8018
					li 고도
						span.value m
						span#status_gpsZ.value 20
					li 배터리
						span.value V
						span#status_battery.value 100
					li mode
						span.value
						span#status_mode.value 1
				.button-list
					button#startBtn start
					button#stopBtn stop
					button#resetBtn reset
				//- img.map(src="public/source/map.jpg")
				//- #map.map

			.left
				img#video-item(width=640 height=480 src="public/source/no_img_png")
				textarea#log(readonly=true)

